# Ignore Gradle project-specific cache directory
.gradle
.idea
/app/bin
/app/out
**/.DS_STORE

# Ignore Gradle build output directory
build

# compile outputs
*.dll
*.js
*.runtimeconfig.json
*.cs
*.go

node_modules


output/*
